.sidebar.collapsed {
  position: fixed; 
  left: 0;
  top: 0;
  bottom: 0;
  width: 80px;  
}

.sidebar.expanded {
  position: fixed; 
  left: 0;
  top: 0;
  bottom: 0;
  width: 80px;  
  background-color: #333;
  width: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.2), 2px 0 4px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease-in-out;
}

.profile-section {
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;  /* Add cursor pointer to indicate clickability */
}

.profile-icon {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.profile-name {
  margin-top: 6px;
  font-size: 1.2rem;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 15px 0;
}

.sidebar-menu a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s;
}

.sidebar-menu a:hover {
  color: #ddd;
} 